*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: linear-gradient(to right, lime, skyblue);
}
body,html{
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
header{
    background: var(--main-color);
    color: white
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.gameboard{
    aspect-ratio: 1/1;
    width: clamp(200px,45%,400px);
    border: medium solid lightgray;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    transition: all 0.4s ease;
}
.game-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.player-info{
    display: flex;
    gap: 7px;
}
.player-info input{
    width: 100%;
}

.player-info:focus{
    outline: none;
}

.player-name{
    flex: 2;
}

.player-selection{
    flex: 1;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 5px;
}
button{
    width: 100px;
    padding: 5px;
    color: white;
}
.start-button{
    background: var(--main-color);
    border: none;
}
.restart-button{
    background: linear-gradient(to right, orangered, red);
    border: none;
}
.square{
    border: thin solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    transition: all 0.4s ease;
}

.square:hover{
    background: lightgrey;
}
.x{
    color: lime;
}
.o{
    color: skyblue;
}
.game-ready{
    box-shadow: 0px 0px 12px limegreen;
}
.modal-dialog{
    display: none;
    position: fixed;
    opacity: 0;
    min-height: 100%;
    min-width: 100%;
	transition: opacity 0.4s ease;
}

.modal-dialog:target{
    opacity: 1;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.656);
}

.game-results{
    background: var(--main-color);
    color: white;
    text-shadow: 5px 3px 5px black;
    border-radius: 10px;
    position: relative;
    width: 45%;
    text-align: center;
    padding: 50px;
    transition: all 0.4s ease;
}

.close-button{
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    border-radius: 0px 10px 0px 0px;
    color: white;
    padding: 5px;
    width: 30px;
}

.close-button:hover{
    background: red;
    
}







